<div class="flex flex-col min-h-screen">
  <!-- NAVBAR -->
  <nav
    class="sticky top-0 z-50 flex items-center justify-between py-4 px-6 border-b border-gray-200 dark:border-gray-700 bg-gray-100 dark:bg-gray-900 shadow-sm"
  >
    <div class="text-xl font-bold">FrancoDev</div>
    <button
      (click)="toggleDarkMode()"
      class="p-2 rounded-md border border-gray-300"
      aria-label="Toggle Dark Mode"
    >
      <span *ngIf="!isDarkMode">🌙</span>
      <span *ngIf="isDarkMode">☀️</span>
    </button>

    <!-- Botón hamburguesa (solo mobile) -->
    <button
      class="sm:hidden p-2 border border-gray-300 rounded-md"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">✖</span>
    </button>

    <!-- Links Desktop -->
    <div class="hidden sm:flex gap-6">
      <a routerLink="/" routerLinkActive="font-bold">Home</a>
      <a routerLink="/about" routerLinkActive="font-bold">Sobre mí</a>
      <a routerLink="/portfolio" routerLinkActive="font-bold">Portfolio</a>
      <a routerLink="/blog" routerLinkActive="font-bold">Blog</a>
      <a routerLink="/contact" routerLinkActive="font-bold">Contacto</a>
    </div>
  </nav>

  <!-- Links Mobile -->
  <div
    *ngIf="isMenuOpen && screenIsMobile"
    class="flex flex-col gap-4 px-6 py-4 bg-gray-100 border-b border-gray-200 sm:hidden"
  >
    <a routerLink="/" routerLinkActive="font-bold" (click)="isMenuOpen = false">Home</a>
    <a routerLink="/about" routerLinkActive="font-bold" (click)="isMenuOpen = false">Sobre mí</a>
    <a routerLink="/portfolio" routerLinkActive="font-bold" (click)="isMenuOpen = false"
      >Portfolio</a
    >
    <a routerLink="/blog" routerLinkActive="font-bold" (click)="isMenuOpen = false">Blog</a>
    <a routerLink="/contact" routerLinkActive="font-bold" (click)="isMenuOpen = false">Contacto</a>
  </div>

  <!-- CONTENIDO -->
  <main class="flex-1 bg-white dark:bg-gray-950 text-black dark:text-white">
    <div class="max-w-6xl mx-auto px-6 py-16">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- FOOTER -->
  <footer
    class="py-6 border-t border-gray-200 dark:border-gray-700 bg-gray-100 dark:bg-gray-900 text-center text-sm text-gray-500 dark:text-gray-400"
  >
    >
    <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
      <p>© 2025 Franco Gonzalez. Todos los derechos reservados.</p>

      <div class="flex gap-6">
        <a href="https://github.com/Franncogonza" target="_blank" rel="noopener"> GitHub </a>
        <a href="https://linkedin.com/in/francogonzalezweb" target="_blank" rel="noopener">
          LinkedIn
        </a>
        <a routerLink="/contact">Contacto</a>
      </div>
    </div>
  </footer>
</div>
